{% extends 'base.html.twig' %}

{% block page_title %}Tartozáskezelő - Főoldal{% endblock %}

{% block body %}
            <h3>Összes tartozás: <div id="sumDebt"></div></h3>
            <br>
            <h4>Személyes adatok megtekintéséhez jelentkezzen be az alábbi link-en: <a href="/login">Bejelentkezés</a></h4>
{% endblock %}
