{% extends 'base.html.twig' %}

{% block page_title %}Tartozáskezelő - Admin{% endblock %}

{% block body %}
    <a href="{{ path('admin') }}"><button class="btn btn-primary">Vissza</button></a>
    {% if form is defined %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}